<template>
    <v-app id="inspire">
        <v-app-bar
            fixed
            color="white"
            scroll-target="#scrollAppBar"
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            app
        >
            <v-toolbar-title>
                <v-img
                    src="/img/baby.png"
                    style="max-height: 100%"
                    width="100"
                ></v-img>
            </v-toolbar-title>
            <v-toolbar-items class="menu-item">
                <v-btn exact :to="{ name: 'home' }" text>Accueil</v-btn>
            </v-toolbar-items>
            <v-toolbar-items class="menu-item">
                <v-btn :to="{ name: 'wishlist' }" text
                    >Liste de naissances</v-btn
                >
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-btn
                :to="{ name: 'register' }"
                class="font-weight-bold"
                color="primary"
                >S'inscrire</v-btn
            >
            <v-btn
                :to="{ name: 'login' }"
                class="font-weight-bold ml-2"
                color="primary"
                outlined
                >Se connecter</v-btn
            >
            <!--<v-btn icon large>
        <v-avatar size="32px" item>
          <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify"></v-img>
        </v-avatar>
      </v-btn>-->
        </v-app-bar>
        <v-content>
            <router-view />
        </v-content>
        <v-footer dark padless>
            <v-card flat tile class="primary lighten-1 white--text text-center">
                <v-card-text>
                    <v-btn
                        v-for="icon in icons"
                        :key="icon"
                        class="mx-4 white--text"
                        icon
                    >
                        <v-icon size="24px">{{ icon }}</v-icon>
                    </v-btn>
                </v-card-text>

                <v-card-text class="white--text pt-0">
                    Phasellus feugiat arcu sapien, et iaculis ipsum elementum
                    sit amet. Mauris cursus commodo interdum. Praesent ut risus
                    eget metus luctus accumsan id ultrices nunc. Sed at orci sed
                    massa consectetur dignissim a sit amet dui. Duis commodo
                    vitae velit et faucibus. Morbi vehicula lacinia malesuada.
                    Nulla placerat augue vel ipsum ultrices, cursus iaculis dui
                    sollicitudin. Vestibulum eu ipsum vel diam elementum tempor
                    vel ut orci. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus.
                </v-card-text>

                <v-divider></v-divider>

                <v-card-text class="white--text">
                    {{ new Date().getFullYear() }} —
                    <strong>Maxime Leclerc</strong>
                </v-card-text>
            </v-card>
        </v-footer>

        <!--<v-btn bottom color="pink" dark fab fixed right="dialog = !dialog">
      <v-icon>mdi-add</v-icon>
    </v-btn>-->
    </v-app>
</template>

<script>
export default {
    name: "App",
    data: () => ({
        dialog: false,
        drawer: null,
        items: [
            { icon: "mdi-home", text: "Accueil" },
            { icon: "mdi-baby", text: "Liste de naissance" },
            { icon: "mdi-picture", text: "Gallerie photos" },
            { icon: "mdi-contact", text: "Contact" }
        ]
    })
};
</script>
