// Fonts
@import "~@mdi/font/css/materialdesignicons.css";

.menu-item {
    a.v-btn {
        text-transform: inherit;
    }

    a.v-btn--active {
        color: #64b5f6;
        border-color: 2px solid blue;
    }
}
