<template>
    <div>
        <v-row no-gutters>
            <v-card tile color="primary" height="150" width="100%">
                <v-container fluid class="grey lighten-4 fill-height">
                    <v-row justify="center" align="center">
                        <v-col>
                            <v-text-field
                                max-width="200px"
                                solo-inverted
                                hide-details
                                flat
                                label="Rechercher"
                                prepend-inner-icon="mdi-search"
                            />
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-row>
        <v-row no-gutters>
            <v-tabs centered>
                <v-tab>Liste de naissance</v-tab>
                <v-tab>Ajouter un produit</v-tab>
                <v-tab>Propose un produit</v-tab>
            </v-tabs>
        </v-row>
        <v-row no-gutters>
            <v-col cols="2"> </v-col>
            <v-col cols="10">
                <v-card tile>
                    <v-card-title>
                        <span
                            style="font-size: 1.1rem !important"
                            class="headline grey--text"
                            >Ajouter un produit dans la liste de souhait</span
                        >
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-text-field
                                    v-model="url"
                                    label="URL *"
                                ></v-text-field>
                            </v-row>
                            <v-row>
                                <v-text-field v-model="title" label="Titre *">
                                </v-text-field>
                            </v-row>
                            <v-row>
                                <template v-if="image">
                                    <img :src="image" />
                                </template>
                            </v-row>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data: () => ({
        items: [
            { text: "Real-Time", icon: "mdi-clock" },
            { text: "Audience", icon: "mdi-account" },
            { text: "Conversions", icon: "mdi-flag" }
        ],
        url: null,
        drawer: true,
        description: null,
        title: null,
        image: null
    }),
    mounted() {},
    watch: {
        url() {
            this.retrieveItemInformations();
        }
    },
    methods: {
        retrieveItemInformations() {
            axios
                .post("api/wishlist/search/product-infos", { url: this.url })
                .then(res => {
                    this.title = res.data.title;
                    this.description = res.data.description;
                    this.image = res.data.image;
                });
        }
    }
};
</script>
