<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-form @submit.prevent="login()">
        <v-card>
          <v-card-title>
            <span class="headline">Se connecter</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-text-field v-model="credentials.email" label="Email *" required></v-text-field>
              <v-text-field
                v-model="credentials.password"
                label="Mot de passe *"
                type="password"
                required
              ></v-text-field>
            </v-container>
          </v-card-text>
          <v-card-actions class="pb-5 pr-5">
            <v-spacer></v-spacer>
            <v-btn color="red lighten-2" outlined @click="loginDialog = false">Fermer</v-btn>
            <v-btn type="submit" color="primary lighten-1" outlined @click="login()">Se connecter</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    credentials: {
      email: null,
      password: null,
      device_name: "Web"
    }
  }),
  methods: {
    login() {
      axios.get("/airlock/csrf-cookie").then(response => {
        axios.post("/api/auth/login", this.credentials).then(response => {
          console.log(response);
        });
      });
    }
  }
};
</script>

<style></style>
