<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-form>
        <v-card>
          <v-card-title>
            <span class="headline">S'inscrire</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-text-field label="Nom *" required></v-text-field>
              <v-text-field label="Email *" required></v-text-field>
              <v-text-field label="Mot de passe *" type="password" required></v-text-field>
            </v-container>
          </v-card-text>
          <v-card-actions class="pb-5 pr-5">
            <v-spacer></v-spacer>
            <v-btn color="red lighten-2" outlined @click="registerDialog = false">Fermer</v-btn>
            <v-btn color="primary lighten-1" outlined @click="registerDialog = false">Se connecter</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({})
};
</script>

<style></style>
