<template>
    <div>
        <v-row align="center" justify="center" no-gutters>
            <v-col cols="8">
                <v-card tile class=" mx-auto">
                    <v-carousel
                        :continuous="false"
                        :cycle="cycle"
                        :show-arrows="false"
                        delimiter-icon="mdi-minus"
                        height="400"
                    >
                        <v-carousel-item
                            v-for="(slide, i) in slides"
                            :src="slide.src"
                            :key="i"
                            style="opacity: 0.4 !important;"
                        >
                            <v-sheet
                                id="scrollAppBar"
                                :color="colors[i]"
                                height="100%"
                                tile
                            >
                                <v-row
                                    class="fill-height"
                                    align="center"
                                    justify="center"
                                >
                                    <div class="display-3">
                                        Diapo {{ slide.text }}
                                    </div>
                                </v-row>
                            </v-sheet>
                        </v-carousel-item>
                    </v-carousel>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card tile dark color="secondary" height="400">
                    <v-card-text>
                        <v-progress-circular
                            :indeterminate="progress.indeterminate"
                            :rotate="progress.rotate"
                            :size="progress.size"
                            :value="days"
                            :width="progress.width"
                            color="white"
                            ><span class="font-weight-bold"
                                >J{{ days }}</span
                            ></v-progress-circular
                        >
                        <v-progress-circular
                            :indeterminate="progress.indeterminate"
                            :rotate="progress.rotate"
                            :size="progress.size"
                            :value="hours"
                            :width="progress.width"
                            color="white"
                            ><span class="font-weight-bold"
                                >H{{ hours }}</span
                            ></v-progress-circular
                        >
                        <v-progress-circular
                            :indeterminate="progress.indeterminate"
                            :rotate="progress.rotate"
                            :size="progress.size"
                            :value="minutes"
                            :width="progress.width"
                            color="white"
                            ><span class="font-weight-bold"
                                >M{{ minutes }}</span
                            ></v-progress-circular
                        >
                        <v-progress-circular
                            :indeterminate="progress.indeterminate"
                            :rotate="progress.rotate"
                            :size="progress.size"
                            :value="seconds"
                            :width="progress.width"
                            color="white"
                            ><span class="font-weight-bold"
                                >S{{ seconds }}</span
                            ></v-progress-circular
                        >
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-card>
                <v-col cols="12">
                    <h2 class="text-center">Notre liste de naissance</h2>
                    <v-row justify="center">
                        <v-col v-for="i in 3" :key="i" cols="4">
                            <div class="ma-2">
                                <v-img
                                    contain
                                    max-width="100%"
                                    src="https://template88271.motopreview.com/mt-demo/88200/88271/mt-content/uploads/2019/10/mt-1920-home-img04.jpg"
                                ></v-img>
                                <h3>Nom du produit</h3>
                                <p>
                                    In case each weekend you're having this
                                    frenzy of taking a mop and cleaning all of
                                    your house from top to bottom, then you may
                                    want to rethink this part of your life now,
                                    as you've become pregnant. The matter of the
                                    fact...
                                </p>
                            </div>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12">
                    <v-btn color="primary" outlined> Voir toute la liste</v-btn>
                </v-col>
            </v-card>
        </v-row>
    </div>
</template>

<script>
import moment from "moment";

export default {
    data: () => ({
        colors: [
            "rgba('255, 255, 255, 0.4')",
            "rgba('255, 255, 255, 0.4')",
            "rgba('255, 255, 255, 0.4')"
        ],
        cycle: true,
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
        birthTerm: moment("2020-07-21"),
        progress: {
            indeterminate: false,
            rotate: 1,
            size: 90,
            width: 10
        },
        slides: [
            {
                text: 1,
                src:
                    "https://template88271.motopreview.com/mt-demo/88200/88271/mt-content/uploads/2019/10/mt-1920-home-img05.jpg"
            },
            {
                text: 2,
                src:
                    "https://template88271.motopreview.com/mt-demo/88200/88271/mt-content/uploads/2019/10/mt-1920-home-img05.jpg"
            },
            {
                text: 3,
                src:
                    "https://template88271.motopreview.com/mt-demo/88200/88271/mt-content/uploads/2019/10/mt-1920-home-img05.jpg"
            }
        ]
    }),
    created() {
        this.timer = setInterval(this.getBirthCountdown, 1000);
    },
    methods: {
        getBirthCountdown() {
            this.days = moment().diff(this.birthTerm, "days");
            this.hours = moment()
                .subtract(this.days, "days")
                .diff(this.birthTerm, "hours");
            this.minutes = moment()
                .subtract(this.days, "days")
                .subtract(this.hours, "hours")
                .diff(this.birthTerm, "minutes");
            this.seconds = moment()
                .subtract(this.days, "days")
                .subtract(this.hours, "hours")
                .subtract(this.minutes, "minutes")
                .diff(this.birthTerm, "seconds");
        }
    }
};
</script>
